* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(221, 221, 249);
    overflow: hidden;
}

h1,
h2,
label {
    color: white;
}

::-moz-selection {
    background-color: rgb(61, 138, 210);
}

::selection {
    background-color: rgb(61, 138, 210);
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

form, .main-box {
    background-color: rgb(146, 146, 253);
}

.btn-send {
    background-color: rgb(61, 138, 210);
    color: white;
}

.btn-send:hover {
    background-color: rgb(42, 118, 189);
    color: white;
}

@media screen and (max-width: 580px) {
    .main-box {
        width: 350px;
    }

    .btn {
        width: 130px;
    }
}